<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HumBee</title>


    <meta charset="UTF-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon.png"/>
    <link rel="icon" type="image/png" href="img/favicon.png"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>HumBee</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <link rel="stylesheet" href="http://localhost:8080/css/icon.css" />
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/css.css"/>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" /> -->

    <link href="http://localhost:8080/css/bootstrap.css" rel="stylesheet"/>
    <!-- <link rel="stylesheet" href="css/style.css"/> -->
    <link href="http://localhost:8080/css/material-kit.css" rel="stylesheet"/>
    <!-- <link href="css/demo.css" rel="stylesheet"/> -->
    <!-- <link href="css/full_story_design.css" rel="stylesheet"/> -->
    <link href="http://localhost:8080/css/opinions_style.css" rel="stylesheet"/>
    <link href="http://localhost:8080/css/humbee-design.css" rel="stylesheet"/>
    <link rel="stylesheet" href="http://localhost:8080/css/debate_screen.css">
    <link rel="stylesheet" href="http://localhost:8080/css/debate-style.css">
    <link href="http://localhost:8080/css/style.css" rel="stylesheet"/>
    <link href="http://localhost:8080/css/reset.css" rel="stylesheet"/>
    <!-- <link href="css/debate-style.css" rel="stylesheet"/>  -->

    <script src="http://localhost:8080/js/bootstrap-datepicker.js"></script>
    <script src="http://localhost:8080/js/modernizr.js"></script>
    <script src="http://localhost:8080/js/jquery.min.js"></script>
    <script src="http://localhost:8080/js/main.js"></script>

    <script src="http://localhost:8080/js/bootstrap.min.js"></script>
    <script src="http://localhost:8080/js/material.min.js"></script>
    <script src="http://localhost:8080/js/material-kit.js"></script>
    <script src="http://localhost:8080/js/nouislider.min.js"></script>

    <link rel="stylesheet" href="http://localhost:8080/css/uikit.min.css" />
    <script src="http://localhost:8080/js/uikit.min.js"></script>

    <!-- for login page -->
        <!-- Bootstrap and Font Awesome css-->
        <link rel="stylesheet" href="http://localhost:8080/css/loginpage_font-awesome.css">
        <!-- <link rel="stylesheet" href="http://localhost:8080/css/bootstrap.min.css"> -->
        <!-- Google fonts-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
        <!-- Theme stylesheet-->
        <link rel="stylesheet" href="http://localhost:8080/css/loginpage_style.default.css" id="theme-stylesheet">
        <!-- Custom stylesheet - for your changes-->
        <link rel="stylesheet" href="http://localhost:8080/css/loginpage_custom.css">
    <!-- for login page -->

  </head>
  <body>
    <div id="root"><%- reactOutput %></div>
    <script id="preloadedData" type="application/json">
      <%- JSON.stringify(preloadedData).replace(/\//g, '\\/') %>
    </script>
    <script src="/lib/app.js"></script>

    <!-- for login page -->
      <!-- JAVASCRIPT FILES -->
      <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="http://localhost:8080/js/loginpage_jquery-1.11.0.min.js"><\/script>')</script>
      <script src="http://localhost:8080/js/bootstrap.min.js"></script>
      <script src="http://localhost:8080/js/loginpage_jquery.cookie.js"></script>
      <script src="http://localhost:8080/js/loginpage_front.js"></script>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-89408473-1', 'auto');
        ga('send', 'pageview');
      </script> -->
    <!-- for login page -->

  </body>
</html>
