.flex-container-discuss {
  display: -webkit-flex;
  display: flex;
  height: 50px;
  -webkit-flex-direction:row!important;
  flex-direction: row!important;
  background-color: #ffffff;
  flex-wrap: wrap;
  border-radius: 0px;
  color:#000000;
  background-color: #ffffff!important;
  justify-content: center;
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}


#celeb-discuss-container {
    display: -webkit-flex;
    display: flex;
    height: auto;
    margin: 50px;
    padding: 5px!important;
    -webkit-flex-direction:column!important;
    flex-direction: column!important;
    background-color: #ffffff;
    flex-wrap: wrap;
    border-radius: 5px;


}

#celeb-discuss-pic{
  border-radius: 80px!important;
}

 .share-icon{
    color:#9E9E9E!important;
    font-size:25px;

   }

   .share-icon:hover {
    color:#616161!important;
   }

    .top-box{   -webkit-flex: 1!important;
    flex: 1!important;
    -webkit-flex-direction:row!important;
    flex-direction: row!important;
    display: -webkit-flex!important;
    display: flex!important;
    margin-left: 50px!important;
}

.celeb-discuss-item1{
    -webkit-flex: 3!important;
    flex: 3!important;
        display: -webkit-flex!important;
    display: flex!important;
    align-items:center;
    justify-content: center;
}

.celeb-discuss-item2{
    -webkit-flex: 1!important;
    flex: 1!important;
    display: -webkit-flex!important;
    display: flex!important;
    align-items:center;
    justify-content: center;
}

.celeb-discuss-comment{
    -webkit-flex: 1!important;
    flex: 1 !important;
    display: -webkit-flex!important;
    display: flex!important;
    font-size: 15px;
    color:#424242;
    line-height: 25px;
    padding:5px;
    font-family: helvetica;

}

.celeb-discuss-name{
    -webkit-flex: 1!important;
    flex: 1!important;
    display: -webkit-flex!important;
    display: flex!important;
    align-items:flex-end;
    justify-content: flex-end;
   text-align: right!important;
   font-weight: bold;
   font-size: 12px;
   font-family: helvetica;
   font-weight: bold;
}
.celeb-discuss-source{
    -webkit-flex: 1!important;
    flex: 1!important;
    display: -webkit-flex!important;
    display: flex!important;
    align-items:flex-end;
    font-style: italic;
    color:#000000;
    font-size: 10px!important;
}



 #profile-pic-small{border-radius: 70px!important;

}


 .share-icon-2{
    color:#9E9E9E!important;
    font-size:25px;
    padding-top: 20px;
    padding-right: 5px!important;
   }


   .share-icon-2:hover {
    color:#616161!important;
   }


.user-name{font-size: 13px;
  color:#000000;
  font-weight: bold;
  padding-top: 25px;
}

.user-name>a {
  color:#000000!important;
}

.user-name>a:visited{
  text-decoration: none!important;
}

.user-name>a:hover{
  color:#616161!important;
  text-decoration:none!important;
}


.share-box{
    -webkit-flex: 1!important;
    flex: 1!important;
    display: -webkit-flex!important;
    display: flex!important;
    align-items:flex-start;
    justify-content: flex-end;
}

.reason{
    -webkit-flex: 2!important;
    flex: 2 !important;
    display: -webkit-flex!important;
    display: flex!important;
    font-size: 15px;
    color:#000000;
    line-height: 25px;
    padding:5px;
    padding-top:25px!important;
    font-family: helvetica;

}


.like-statement{
    -webkit-flex: 1!important;
    flex: 1!important;
    display: -webkit-flex!important;
    display: flex!important;
    align-items:flex-end;
    font-weight: bold;
    font-size: 13px;
    font-family: helvetica;
    padding:5px;
    color:#9E9E9E;

}

.like-statement>a {
    color:#757575!important;
}

.like-statement>a:visited{
    text-decoration: none!important;
}

.like-statement>a:hover{
    color:#616161!important;
    text-decoration:none!important;}

.like-comment{
  -webkit-flex: 1!important;
    flex: 1!important;
    -webkit-flex-direction:row!important;
    flex-direction: row!important;
     display: -webkit-flex!important;
    display: flex!important;
  }


.like-comment-icon{
    -webkit-flex: 1!important;
    flex: 1!important;
    display: -webkit-flex!important;
    display: flex!important;
    align-items:center;
    justify-content: flex-start;

}

.comment-statement{
    -webkit-flex: 1!important;
    flex: 1!important;
    display: -webkit-flex!important;
    display: flex!important;
    align-items:center;
    justify-content: flex-end;
    padding-right: 5px!important;

}


.comment-pic{-webkit-flex: 1!important;
    flex: 1!important;
    display: -webkit-flex!important;
    display: flex!important;
    justify-content: flex-start!important;
    align-items: flex-start!important;
    padding:5px;

}

.comment-line{-webkit-flex: 4!important;
    flex: 4!important;
    display: -webkit-flex!important;
    display: flex!important;
    justify-content: flex-start!important;
    align-items: flex-start!important;
    padding:5px;
    padding-top: 17px!important;
    color:#000000;
    font-size:12px!important;
    padding-left:0px;}

  #profile-pic-comment{border-radius: 60px!important;
  margin-top: 15px;
  margin-left: 15px;

}

 .user-name-comment{font-size: 13px;
  color:#000000;
  font-weight: bold;
  padding-top: 5px;
}

.user-name-comment>a {
  color:#000000!important;
}

.user-name-comment>a:visited{
  text-decoration: none!important;
}

.user-name-comment>a:hover{
    color:#616161!important;
    text-decoration:none!important;}

.comment-like-reply{  -webkit-flex: 1!important;
    flex: 1!important;
    display: -webkit-flex!important;
    display: flex!important;
    align-items:center;
    background-color: #F1F8E9!important;
  }

  .comment-like-reply-against{  -webkit-flex: 1!important;
    flex: 1!important;
    display: -webkit-flex!important;
    display: flex!important;
    align-items:center;
    background-color: #FBE9E7!important;
  }

 .comment-action-icon{
    color:#9E9E9E!important;
    font-size:20px;
    padding:10px;
    margin-left: 85px;

   }


   .comment-action-icon:hover {
    color:#616161!important;
   }

   .like-statement-comment>a{ font-size: 12px;
   font-family: helvetica;
   padding:10px;
   color:#9E9E9E!important;
   }

  .like-statement-comment>a:hover{

   color:#616161!important;
   text-decoration: none!important;
   }




  .comment-make{-webkit-flex: 1!important;
    flex: 1!important;
    display: -webkit-flex!important;
    display: flex!important;

}


.seperator{
    background-color: #000000;
    height:1px!important;
    margin-top:1px!important;
    margin-bottom:1px!important;
}



 .action-icon{
    color:#9E9E9E!important;
    font-size:23px;
    padding:10px;
   ;
   }


  .action-icon:hover {
    color:#616161!important;
   }

.comment-statement>a {
    color:#757575!important;
    font-size: 13px;
}

.comment-statement>a:visited{
    text-decoration: none!important;
}

.comment-statement>a:hover{
    color:#616161!important;
    text-decoration:none!important;}

#fabButton {position:fixed; bottom:32px!important; right:32px!important; background-color: #6B2F55!important;}
#fabButton:hover{background-color:#552544!important }
#fabButtonDropup {position:fixed; bottom:100px; right:100px; width: 100px;}
.form-control{border-top:1px solid #ccc!important;}

#like-container {
    display: -webkit-flex;
    display: flex;
    margin: 95px 15px 15px 40px;
    padding: 5px!important;
    -webkit-flex-direction:column!important;
    flex-direction: column!important;
    background-color: #ffffff;
    flex-wrap: wrap;
    border-radius: 5px;
    left: 40%;
    top: 10%;
    width:200px;
    position:absolute;
  }



   .Like-heading-box{
    -webkit-flex: 1!important;
    flex: 1!important;
    color:#000000;
    font-weight: bold;
    text-align: center!important;
    -webkit-align-items:center;
     font-weight: bold;
    font-size: 15px;
    flex-wrap: wrap;
}









.comment-pic{-webkit-flex: 1!important;
    flex: 1!important;
    display: -webkit-flex!important;
    display: flex!important;
    justify-content: flex-start!important;
    align-items: flex-start!important;
    padding:5px;

}

.comment-line{-webkit-flex: 4!important;
    flex: 4!important;
    display: -webkit-flex!important;
    display: flex!important;
    justify-content: flex-start!important;
    align-items: flex-start!important;
    padding:5px;
    padding-top: 17px!important;
    color:#000000;
    font-size:12px!important;
    padding-left:0px;}


#profile-pic-comment-reply{border-radius: 60px!important;
  margin-top: 15px;
   margin-left: 80px;

}

.user-name-comment{font-size: 13px;
color:#000000;
font-weight: bold;
padding-top: 5px;
}

.user-name-comment>a {
    color:#000000!important;
}

.user-name-comment>a:visited{
    text-decoration: none!important;
}

.user-name-comment>a:hover{
    color:#616161!important;
    text-decoration:none!important;}

.comment-like-reply{  -webkit-flex: 1!important;
    flex: 1!important;
    display: -webkit-flex!important;
    display: flex!important;
    align-items:center;
    background-color: #ffffff;
  }

 .comment-action-icon-reply{
    color:#9E9E9E!important;
    font-size:20px;
    padding:10px;
    margin-left: 110px;

   }

 .comment-action-icon-reply:hover {
    color:#616161!important;
   }

    .comment-action-icon{
    color:#9E9E9E!important;
    font-size:20px;
    padding:10px;
    margin-left: 110px;
   }


   .comment-action-icon:hover {
    color:#616161!important;
   }

   .reply-comment{ font-size: 12px;
   font-family: helvetica;
   padding:10px;
   color:#9E9E9E;
   }


.more-comments>a{padding:120px;
color:#6B2F55;
font-size:12px;}

#usr{width:350px;
}

#profile-pic-make-comment{
border-radius: 60px!important;
margin-top: 0px;
}

#input-group-addon-comment{padding-top:0px!important;
padding-bottom:0px!important;}

#leader-container {
    display: -webkit-flex;
    display: flex;
    height: auto;
    margin: 95px 15px 15px 15px;
    padding: 5px!important;
    -webkit-flex-direction:column!important;
    flex-direction: column;!important;
    background-color: #ffffff;
    flex-wrap: wrap;
    border-radius: 5px;}

   .leader-heading-box{
    color:#000000;
    font-weight: bold;
    text-align: center!important;
    -webkit-align-items:center;
     font-weight: bold;
    font-size: 15px;
    flex-wrap: wrap;
}


    .rank{
    font-size: 13px;
    color:#000000;
    font-weight: bold;
    -webkit-align-items: center!important;
    vertical-align: middle!important;

}

    .points{
    font-size: 13px;
    color:#000000;
    font-weight: bold;
    -webkit-align-items: center!important;
    vertical-align: middle!important;



}



#profile-pic-small{border-radius: 70px!important;
}

.leader-name{font-size: 13px;
color:#000000;
font-weight: bold;
-webkit-align-items: center!important;
vertical-align: middle!important;
padding-top: 20px;}

.leader-name>a {
    color:#000000!important;
}

.leader-name>a:visited{
    text-decoration: none!important;
}

.leader-name>a:hover{
    color:#616161!important;
    text-decoration:none!important;}



#follow-button{

    background-color:#9E9E9E!important;
    text-transform: capitalize!important;
    font-size: 13px;
    color:#ffffff!important;
    text-align: center!important;
    box-shadow: none;
    width:auto!important;
    padding:5px!important;
    margin:5px;
 }

  #follow-button:hover{background-color:#757575!important;
  }

 .seperator{
    background-color: #E0E0E0;
    height:1px!important;
    margin-top:5px!important;
    margin-bottom:5px!important;
}

td{
  text-align:center;
  vertical-align: middle;
  padding:5px;
  width:auto;

}

/*Others Box*/

#others-container {
    display: -webkit-flex;
    display: flex;
    height: auto;
    margin: 15px!important;
    padding: 5px!important;
    -webkit-flex-direction:column!important;
    flex-direction: column!important;
    background-color: #ffffff;
    flex-wrap: wrap;
    border-radius: 5px;}

   .others-heading-box{
    color:#000000;
    text-align: center!important;
    -webkit-align-items:center;
    font-size: 15px;
    flex-wrap: wrap;
}

.others-list{
    list-style: none!important;

}
.others-list>li>a {
    color:#616161!important;
}

.others-list>li>a:visited{
    text-decoration: none!important;
}

.others-list>li>a:hover{
    color:#000000!important;
    text-decoration:none!important;}

.sub-heading{font-size: 15px;
             font-weight: bold;
             margin-left: 10px;
             margin-right: 10px;
             margin-bottom: 30px!important;}

.options-2{margin-bottom: 20px;
           font-size:15px;
           width: 100px!important;
           border-color:#E0E0E0;
}

#profile-pic-small-box{
border-radius: 70px;}

#pic-box{padding:0px!important;
padding-right: 10px!important;}

#close-box{font-size: 25px!important;}
