#main-grid-ds{
  background-color: #E0E0E0;
  padding:0px!important;
}

.flex-container-ds {
  display: -webkit-flex;
  display: flex;
  height: 50px;
  -webkit-flex-direction:row!important;
  flex-direction: row!important;
  background-color: #ffffff;
  flex-wrap: wrap;
  border-radius: 0px;
  color:#000000;
  background-color: #ffffff!important;
  justify-content: center;
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}


.full-story-ds {
  flex: 1!important;
  display: flex!important;
  flex-direction: row!important;
  text-align:center!important;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  color:#000000;
  border-right-style: groove;
  border-right-width: 1px;

}


.opinions-ds {
  flex: 1!important;
  display: flex!important;
  flex-direction: row!important;
  text-align:center!important;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  color:#000000;
  border-right-style: groove;
  border-right-width: 1px;
}

.debate-ds {
  flex: 1!important;
  display: flex!important;
  flex-direction: row!important;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  color:#000000!important;
}


.full-story-ds:hover{
  border-bottom-width:3px!important;
  background-color: #E0E0E0!important;
}

.opinions-ds:hover{
  border-bottom-width:3px!important;
  background-color: #E0E0E0!important;
}

.debate-ds:hover{
  border-bottom-width:3px!important;
  background-color: #E0E0E0!important;
}

.selected-tab-ds {border-bottom-style:solid!important;
  border-bottom-width:3px!important;
  border-bottom-color: #6B2F55!important;
  background-color: #E0E0E0!important;
}
