/*.jumbotron{
	background: url('../img/banner.jpg') no-repeat top;
}
.jumbotron h1{
	font-weight: 800;*/
/*}*/
.navbar{margin-bottom:0px}!important;
.navbar .navbar-brand{font-weight:400!important;font-size:14px!important;color:#E0E0E0!important;}
.navbar .navbar-brand:focus,.navbar .navbar-brand:hover,.navbar .active navbar-brand{color:#ffffff!important;background-color:none!important;text-decoration:none!important;}
.navbar .navbar-nav> li> a {color:#E0E0E0!important;font-weight:400!important;font-size:14px!important; text-transform:capitalize!important;}
.navbar .navbar-nav> li> a:hover,.navbar .navbar-nav> li> a:focus {color:#ffffff!important;font-weight:400!important;font-size:14px!important;}
/*.navbar{background-color:#006064!important;}*/
/*.navbar-primary {background-color:#6B2F55!important; border-radius: 0px!important;}*/


/*.navbar.navbar-primary .dropdown-menu .active > a {
  background-color: #EEEEEE;
  color: #000000;
}
.navbar.navbar-primary .dropdown-menu .active > a:hover, .navbar.navbar-primary .dropdown-menu .active > a:focus {
  color: #000000;
}*/

#discussion{text-transform: none!important;}

/*#discussion {text-decoration:none!important;color:#000000!important;background-color: transparent!important ; border:0px!important;box-shadow: none!important;}
.nav nav-tabs{background color: :transparent!important; color:#000000!important;border:0px!important box-shadow:none!important;}*/

#fabButton {position:fixed; bottom:32px!important; right:32px!important; background-color: #6B2F55!important;}
#fabButton:hover{background-color:#552544!important }
/*#fabButtonDropup {position:fixed; bottom:100px; right:100px; width: 100px;}*/
.form-control{border-top:1px solid #ccc!important;}

.flex-container {
    display: -webkit-flex;
    display: flex;
    /*width: 800px;*/
    height: 350px;
 /*   background-color: #000000;*/
    margin: 10px!important;
    padding: 5px!important;
    -webkit-flex-direction:column!important;
    flex-direction: column!important;
    background-color: #ffffff;
    flex-wrap: wrap;
    border-radius: 5px;
    /*-webkit-justify-content: center!important;
    justify-content: center;*/
    /* -webkit-align-items: center!important;
    align-items: center;*/
   /* align-content: center!important;*/

}



.main-box {
    margin: 0px!important;
    background-image:url('../img/surgical_strikes.jpg');
    background-repeat: no-repeat;
    background-position: center;
	background-size: auto 230px;
    -webkit-flex: 3;
    flex: 3;
     display: -webkit-flex;
    display: flex;
     -webkit-flex-direction:column!important;
    flex-direction: column!important;
}

.item1{
	-webkit-flex: 1!important;
    flex: 1!important;

}

.debate-caption{
	-webkit-flex: 1!important;
    flex: 1!important;
    color:#ffffff;
	font-weight: bold;
	text-align: center!important;
	-webkit-align-items:center;
	 font-weight: bold;
    font-size: 25px;



}

.item3{
	-webkit-flex: 1!important;
    flex: 1!important;
}



.other-box {
    -webkit-flex: 2!important;
    flex: 2!important;
text-align:center!important;
/*-webkit-align-items:center!important;*/
font-weight: bold!important;
display: -webkit-flex;
    display: flex;
     -webkit-flex-direction:column!important;
    flex-direction: column!important;

}



.motion{-webkit-flex: 1!important;
    flex: 1!important;


}

/*.seperator{border-bottom:1px!important;
	border-color:#E0E0E0!important;
	height:1px!important
margin-top:1px;
margin-bottom: 1px;
}
*/


.Agree-disagree{-webkit-flex: 1!important;
    flex: 1!important;
display: -webkit-flex!important;
    display: flex!important;
     -webkit-flex-direction:column!important;
    flex-direction: column!important;


}

.progress{height:25px!important;
    padding-bottom: 0px!important;
margin-bottom: 0px!important;}

.label-agree-disagree{-webkit-flex: 1!important;
    flex: 1!important;
display: -webkit-flex!important;
    display: flex!important;
 -webkit-flex-direction:row!important;
    flex-direction: row!important;
background-color:#ffffff!important;
color:#000000;

}

.agree-label{-webkit-flex: 1!important;
    flex: 1!important;
display: -webkit-flex!important;
    display: flex!important;
    text-align:center!important;
      -webkit-justify-content: center!important;



}

.disagree-label{-webkit-flex: 1!important;
    flex: 1!important;
display: -webkit-flex!important;
    display: flex!important;
   text-align:center!important;
     -webkit-justify-content: center!important;

}

.action-bar{-webkit-flex: 1!important;
    flex: 1!important;
display: -webkit-flex!important;
    display: flex!important;
 -webkit-flex-direction:row!important;
    flex-direction: row!important;
background-color:#ffffff!important;
color:#000000;

}

.like{-webkit-flex: 1!important;
    flex: 1!important;
display: -webkit-flex!important;
    display: flex!important;
    text-align:center!important;
      -webkit-justify-content: center!important;


  }


.bookmark{-webkit-flex: 1!important;
    flex: 1!important;
display: -webkit-flex!important;
    display: flex!important;
    text-align:center!important;
      -webkit-justify-content: center!important;


  }

  .share{
    -webkit-flex: 1!important;
    flex: 1!important;
    display: -webkit-flex!important;
    display: flex!important;
    text-align:center!important;
   -webkit-justify-content: center!important;

   }
   .action-icons{
    color:#9E9E9E!important;
   }
   .action-icons:hover {
    color:#616161!important;
   }


.seperator{
    background-color: #E0E0E0;
    height:1px!important;
    margin-top:5px!important;
    margin-bottom:5px!important;
}

.modal-title{font-weight:bold!important;}

#post_button{background-color:#6B2F55!important; }
#post_button:hover{background-color:#552544!important;}
#close_button:hover{background-color:#757575!important;}


/*Quiz*/

#quiz-container {
    display: -webkit-flex;
    display: flex;
    /*width: 800px;*/
    height: 250px;
 /*   background-color: #000000;*/
    margin: 15px!important;
    padding: 5px!important;
    -webkit-flex-direction:column!important;
    flex-direction: column;!important;
    background-color: #ffffff;
    flex-wrap: wrap;
    border-radius: 5px;
    /*-webkit-justify-content: center!important;
    justify-content: center;*/
    /* -webkit-align-items: center!important;
    align-items: center;*/
   /* align-content: center!important;*/

}



.quiz-box {
    margin: 0px!important;
    background-image:url('../img/trump_hillary.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 280px;
    -webkit-flex: 4;
    flex: 4;
     display: -webkit-flex;
    display: flex;
     -webkit-flex-direction:column!important;
    flex-direction: column!important;
    flex-wrap: wrap;


  /*   -webkit-justify-content: space-around!important;
    justify-content: space-around!important;*/
     /*-webkit-align-items: center!important;
    align-items: center;*/

}

.quiz-item1{
    -webkit-flex: 1!important;
    flex: 1!important;

}

.quiz-caption{
    -webkit-flex: 1!important;
    flex: 1!important;
    color:#ffffff;
    font-weight: bold;
    text-align: center!important;
    -webkit-align-items:center;
     font-weight: bold;
    font-size: 20px;
    flex-wrap: wrap;



}

.quiz-item3{
    -webkit-flex: 1!important;
    flex: 1!important;
    display: -webkit-flex;
    display: flex;
     -webkit-flex-direction:column!important;
    flex-direction: column!important;
}


.quiz-button-bar{    display: -webkit-flex!important;
    display: flex!important;
    -webkit-flex-direction:row!important;
    flex-direction: row!important;
    align-items:center!important;
    }


.part1{
    -webkit-flex: 1!important;
    flex: 1!important;
    display: -webkit-flex!important;
    display: flex!important;
}

.part2{
    -webkit-flex: 1!important;
    flex: 1!important;
    display: -webkit-flex!important;
    display: flex!important;
}

.part3{
    -webkit-flex: 1!important;
    flex: 1!important;
    display: -webkit-flex!important;
    display: flex!important;


}

#quiz_button{background-color:#6B2F55!important;
  font-weight: bold;

}
#quiz_button:hover{background-color:#552544!important;
}


.quiz-other-box { -webkit-flex: 1!important;
    flex: 1!important;
text-align:center!important;
/*-webkit-align-items:center!important;*/
font-weight: bold!important;
display: -webkit-flex;
    display: flex;
     -webkit-flex-direction:column!important;
    flex-direction: column!important;
}


.action-bar{
  /*  -webkit-flex: 1!important;
    flex: 1!important;*/
    display: -webkit-flex!important;
    display: flex!important;
    -webkit-flex-direction:row!important;
    flex-direction: row!important;
    background-color:#ffffff!important;
    color:#000000;
    align-items:center!important;
    ;

}

.quiz-like{
    -webkit-flex: 1!important;
    flex: 1!important;
    display: -webkit-flex!important;
    display: flex!important;
    justify-content: center!important;
}


.quiz-comment{
    -webkit-flex: 1!important;
    flex: 1!important;
    display: -webkit-flex!important;
    display: flex!important;
    justify-content: center!important;
}

.quiz-share{
    -webkit-flex: 1!important;
    flex: 1!important;
    display: -webkit-flex!important;
    display: flex!important;
    justify-content: center!important;
}
   .action-icons{
    color:#9E9E9E!important;
   }
   .action-icons:hover {
    color:#616161!important;
   }


  /* Videos*/

  #video-container {
    display: -webkit-flex;
    display: flex;
    /*width: 800px;*/
    height: 300px;
 /*   background-color: #000000;*/
    margin: 15px!important;
    padding: 5px!important;
    -webkit-flex-direction:column!important;
    flex-direction: column;!important;
    background-color: #ffffff;
    flex-wrap: wrap;
    border-radius: 5px;
    /*-webkit-justify-content: center!important;
    justify-content: center;*/
    /* -webkit-align-items: center!important;
    align-items: center;*/
   /* align-content: center!important;*/

}



.video-box {
    margin: 0px!important;
    /*background-image:url('../img/trump_hillary.jpg');
    background-repeat: no-repeat;
    background-position: center; */
    /*background-size: auto 230px;*/
    -webkit-flex: 4;
    flex: 4;
     display: -webkit-flex;
    display: flex;
     -webkit-flex-direction:column!important;
    flex-direction: column!important;




  /*   -webkit-justify-content: space-around!important;
    justify-content: space-around!important;*/
     /*-webkit-align-items: center!important;
    align-items: center;*/

}

.video-title{
    -webkit-flex: 1!important;
    flex: 1!important;
    color:#000000;
    font-weight: bold;
    text-align: center!important;
    -webkit-align-items:center!important;
    font-size: 15px;


}

.video-link{
    -webkit-flex: 1!important;
    flex: 1!important;
}

.video-description{ -webkit-flex: 1!important;
    flex: 1!important;
    color:#000000;
    text-align: center!important;
    -webkit-align-items:center;
    font-size: 12px;

}



.video-other-box { -webkit-flex: 1!important;
    flex: 1!important;
    text-align:center!important;
/*-webkit-align-items:center!important;*/
    font-weight: bold!important;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction:column!important;
    flex-direction: column!important;
    justify-content: space-around!important;
}


.video-bar{
  /*  -webkit-flex: 1!important;
    flex: 1!important;*/
    display: -webkit-flex!important;
    display: flex!important;
    -webkit-flex-direction:row!important;
    flex-direction: row!important;
    background-color:#ffffff!important;
    color:#000000;
    align-items:center!important;

    ;

}

.video-like{
    -webkit-flex: 1!important;
    flex: 1!important;
    display: -webkit-flex!important;
    display: flex!important;
    justify-content: center!important;
}


.video-invite{
    -webkit-flex: 1!important;
    flex: 1!important;
    display: -webkit-flex!important;
    display: flex!important;
    justify-content: center!important;
}

.video-share{
    -webkit-flex: 1!important;
    flex: 1!important;
    display: -webkit-flex!important;
    display: flex!important;
    justify-content: center!important;
}
   .action-icons{
    color:#9E9E9E!important;
   }
   .action-icons:hover {
    color:#616161!important;
   }

  /* GQ*/

   #gq-container {
    display: -webkit-flex;
    display: flex;
    /*width: 800px;*/
    height: auto;
 /*   background-color: #000000;*/
    margin: 15px!important;
    padding: 5px!important;
    -webkit-flex-direction:column!important;
    flex-direction: column;!important;
    background-color: #ffffff;
    flex-wrap: wrap;
    border-radius: 5px;}

    .gq-heading-box{
   /* -webkit-flex: 1!important;
    flex: 1!important;*/
    color:#000000;
    font-weight: bold;
    text-align: center!important;
    -webkit-align-items:center;
     font-weight: bold;
    font-size: 15px;
    flex-wrap: wrap;
}




.similarity-bar {-webkit-flex: 1!important;
    flex: 1!important;


}

#gq-container-2{

    display: -webkit-flex;
    display: flex;
    height: 40px;
    padding: 5px!important;
    -webkit-flex-direction:column!important;
    flex-direction: column!important;
    background-color: #E0E0E0;
    flex-wrap: wrap;
    border-radius: 70px;




}


.gq-1 {-webkit-flex: 1!important;
    flex: 1!important;


}
.gq-2 {-webkit-flex: 1!important;
    flex: 1!important;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-align-items: center!important;
    -webkit-justify-content:center!important;



}


.gq-3 {-webkit-flex: 1!important;
    flex: 1!important;
    font-size: 5px;




}

#gq-bar{background-color: #616161!important;
height:10px!important;
-webkit-align-items: center!important;
-webkit-justify-content:center!important;
}

.gq-text{   color:#000000;
    text-align: center!important;
    -webkit-align-items:center;
    font-size: 13px;
    flex-wrap: wrap;}

    .gq-button-bar{-webkit-flex: 1!important;
    flex: 1!important;
    font-weight:bold;
    text-align: center;
    -webkit-align-items:center;




    }

    #gq_button{background-color:#6B2F55!important;
        font-weight:bold!important;
        text-transform: capitalize!important;
        font-size: 13px;
    }

    #gq_button:hover{background-color:#552544!important;
}

/*Follow*/

   #follow-container {
    display: -webkit-flex;
    display: flex;
    /*width: 800px;*/
    height: auto;
 /*   background-color: #000000;*/
    margin: 15px!important;
    padding: 5px!important;
    -webkit-flex-direction:column!important;
    flex-direction: column;!important;
    background-color: #ffffff;
    flex-wrap: wrap;
    border-radius: 5px;}

   .follow-heading-box{
   /* -webkit-flex: 1!important;
    flex: 1!important;*/
    color:#000000;
    font-weight: bold;
    text-align: center!important;
    -webkit-align-items:center;
     font-weight: bold;
    font-size: 15px;
    flex-wrap: wrap;
}

    .friend-list { display: -webkit-flex!important;
    display: flex!important;
    -webkit-flex: 1!important;
    flex: 1!important;
     -webkit-flex-direction:row!important;
    flex-direction: row!important;
    background-color:#ffffff!important;
    color:#000000;
    -webkit-align-items:center!important;
    vertical-align: middle!important;


}



    .frnd-pic-name{-webkit-flex: 1!important;
    flex: 1!important;
    display: -webkit-flex!important;
    display: flex!important;
    font-size: 13px;
    color:#000000;
    font-weight: bold;
    -webkit-align-items: center!important;
    vertical-align: middle!important;

}

#profile-pic-small{border-radius: 70px!important;
}

.frnd-name{font-size: 13px;
color:#000000;
font-weight: bold;
-webkit-align-items: center!important;
vertical-align: middle!important;
padding-top: 20px;}





.follow-button-box{

  /*  -webkit-flex: 1!important;
    flex: 1!important;*/
    display: -webkit-flex!important;
    display: flex!important;



}


#follow-button{background-color:#9E9E9E!important;
    text-transform: capitalize!important;
    font-size: 14px;
    color:#ffffff!important;
    text-align: center!important;
    box-shadow: none;
   /*  margin-left:30PX;*/

 }

  #follow-button:hover{background-color:#757575!important;
  }



#follow-container-2{

    display: -webkit-flex;
    display: flex;
    height: 20px;
    padding: 5px!important;
    -webkit-flex-direction:column!important;
    flex-direction: column!important;
    background-color: #E0E0E0;
    flex-wrap: wrap;
    border-radius: 70px;




}


#follow-bar-1{background-color: #b597aa!important;
/*height:10px!important;*/
-webkit-align-items: center!important;
-webkit-justify-content:center!important;
}

#follow-bar-2{background-color: #616161!important;
-webkit-align-items: center!important;
-webkit-justify-content:center!important;}

#similarity-label{font-size: 12px!important;}

/*Others Box*/

#others-container {
    display: -webkit-flex;
    display: flex;
    /*width: 800px;*/
    height: auto;
 /*   background-color: #000000;*/
    margin: 15px!important;
    padding: 5px!important;
    -webkit-flex-direction:column!important;
    flex-direction: column!important;
    background-color: #ffffff;
    flex-wrap: wrap;
    border-radius: 5px;}

   .others-heading-box{
   /* -webkit-flex: 1!important;
    flex: 1!important;*/
    color:#000000;
    text-align: center!important;
    -webkit-align-items:center;
   /*  font-weight: bold;*/
    font-size: 15px;
    flex-wrap: wrap;
}

.others-list{
    list-style: none!important;

}
.others-list>li>a {
    color:#616161!important;
}

.others-list>li>a:visited{
    text-decoration: none!important;
}

.others-list>li>a:hover{
    color:#000000!important;
    text-decoration:none!important;}

#pic-box{padding:0px!important;
padding-right: 10px!important;}

#close-box{font-size: 25px!important;}



        .input {
          outline: none;
        }
        .input[type=search] {
          -webkit-appearance: textfield;
          -webkit-box-sizing: content-box;
          font-family: inherit;
          font-size: 100%;
        }
        .input::-webkit-search-decoration,
        .input::-webkit-search-cancel-button {
          display: none;
        }


        .input[type=search] {
          background: rgba(0,0,0,.25) url('../img/search_icon.png') no-repeat 9px center ;
          border:   #616161 solid 0px;
          padding: 9px 10px 9px 40px;
          width: 75px;
          vertical-align: middle!important;
          -webkit-align-items: center!important;
          margin-top: 5px;


          -webkit-border-radius: 10em;
          -moz-border-radius: 10em;
          border-radius: 10em;

          -webkit-transition: all .5s;
          -moz-transition: all .5s;
          transition: all .5s;
        }
        .input[type=search]:focus {
          width: 200px;
          background-color: rgba(0,0,0,.25);
          border : 0px;

          -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
          -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
          box-shadow: 0 0 5px rgba(109,207,246,.5);
        }


        .input:-moz-placeholder {
          color: #E0E0E0;
        }
        .input::-webkit-.input-placeholder {
          color: #E0E0E0;
        }


