/*Navbar*/

.navbar{margin-bottom:0px}!important;
.navbar .navbar-brand{font-weight:400!important;font-size:14px!important;color:#E0E0E0!important;}
.navbar .navbar-brand:focus,.navbar .navbar-brand:hover,.navbar .active navbar-brand{color:#ffffff!important;background-color:none!important;text-decoration:none!important;}
.navbar .navbar-nav> li> a {color:#E0E0E0!important;font-weight:400!important;font-size:14px!important; text-transform:capitalize!important;}
.navbar .navbar-nav> li> a:hover,.navbar .navbar-nav> li> a:focus {color:#ffffff!important;font-weight:400!important;font-size:14px!important;}
/*.navbar{background-color:#006064!important;}*/
.navbar-primary {background-color:#6B2F55!important; border-radius: 0px!important;}

.flex-container {
    display: -webkit-flex;
    display: flex;
    height: 50px;
    -webkit-flex-direction:row!important;
    flex-direction: row!important;
    background-color: #ffffff;
    flex-wrap: wrap;
    border-radius: 0px;
    color:#000000;
    background-color: #ffffff!important;
    justify-content: center;
    box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);s
}


.full-story{
    flex: 1!important;
    display: flex!important;
    flex-direction: row!important;
    text-align:center!important;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    color:#000000;
    border-right-style: groove;
    border-right-width: 1px;    
  }


.opinions{
     flex: 1!important;
    display: flex!important;
    flex-direction: row!important;
    text-align:center!important;
    justify-content: center;
    align-items: center;
     font-size: 15px;
    font-weight: bold;
     color:#000000;
    border-right-style: groove;
    border-right-width: 1px;
     
   
  }

  .debate{
   flex: 1!important;
    display: flex!important;
    flex-direction: row!important;
    text-align:center!important;
    justify-content: center;
    align-items: center;
     font-size: 15px;
    font-weight: bold;
     color:#000000!important;
   }


.full-story:hover{
border-bottom-width:3px!important;
background-color: #E0E0E0!important;

}

.opinions:hover{
border-bottom-width:3px!important;
background-color: #E0E0E0!important;
}

.debate:hover{
border-bottom-width:3px!important;
background-color: #E0E0E0!important;
}

.selected-tab {border-bottom-style:solid!important;
border-bottom-width:3px!important;
border-bottom-color: #6B2F55!important;
background-color: #E0E0E0!important;

}

#opinions-container {
    display: -webkit-flex;
    display: flex;
    /*width: 800px;*/
    height: 300px;
 /*   background-color: #000000;*/              
    margin: 15px!important;
    margin-top:100px!important;
    padding: 5px!important;
    -webkit-flex-direction:column!important;
    flex-direction: column!important;
    background-color: #ffffff;
    flex-wrap: wrap;
    border-radius: 5px;
    border-bottom:10px solid #6B2F55;
}

/*.main-box {
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-flex;
    display: flex;

}*/
.item1{
    -webkit-flex: 1!important;
    flex: 1!important;
    display: -webkit-flex!important;
    display: flex!important;
    flex-direction:column;

}



.question-box{
    -webkit-flex: 1!important;
    flex: 1!important;
    color:#000000;
    font-weight: bold;
    text-align: center!important;
    align-items:center;
    justify-content: center;
    font-size: 25px;
    display: -webkit-flex!important;
    display: flex!important;
    line-height: 30px;

    
}


.item3{
    -webkit-flex: 1!important;
    flex: 1!important;
        display: -webkit-flex!important;
    display: flex!important;
     flex-direction:column;

}

.option-box{   -webkit-flex: 1!important;
    flex: 1!important;
    -webkit-flex-direction:row!important;
    flex-direction: row!important;
     display: -webkit-flex!important;
    display: flex!important;
/*   display: -webkit-flex;
    display: flex;*/}


.part1{
    -webkit-flex: 1!important;
    flex: 1!important;
    display: -webkit-flex!important;
    display: flex!important;
    align-items:center;
    justify-content: center;
}

.part2{
    -webkit-flex: 1!important;
    flex: 1!important;
    display: -webkit-flex!important;
    display: flex!important;
    align-items:center;
    justify-content: center;
}


    .part3{    -webkit-flex: 1!important;
    flex: 1!important;
        display: -webkit-flex!important;
    display: flex!important;
    align-items:center;
    justify-content: center;}

        .part4{    -webkit-flex: 1!important;
    flex: 1!important;
        display: -webkit-flex!important;
    display: flex!important;
    align-items:center;
    justify-content: center;}

    #agree_button{background-color: #ffffff!important;
      border: 1px solid #E0E0E0;
      color:#1B5E20!important;
      text-transform: capitalize;
      font-size: 20px;
       width:150px;

}
#agree_button:hover{background-color:#E0E0E0!important;
}


    #disagree_button{background-color: #ffffff!important;
  border: 1px solid #E0E0E0;
  color:#B71C1C!important;
  text-transform: capitalize;
  font-size: 20px;
  width:150px;

}
#disagree_button:hover{background-color:#E0E0E0!important;
}

   #option_button{background-color: #ffffff!important;
      border: 1px solid #E0E0E0;
      color:#000000!important;
      text-transform: capitalize;
      font-size: 15px;
      width:300px;

}

#option_big_button{background-color: #ffffff!important;
      border: 1px solid #E0E0E0;
      color:#000000!important;
      text-transform: capitalize;
      font-size: 15px;
      width:500px;

}
#option_button:hover{background-color:#E0E0E0!important;
}

#option_big_button:hover{background-color:#E0E0E0!important;
}


.question-box-3{
    -webkit-flex: 1!important;
    flex: 1!important;
    color:#000000;
    font-weight: bold;
    text-align: center!important;
/*    align-items:center;
    justify-content: center;*/
    font-size: 25px;
    display: -webkit-flex!important;
    display: flex!important;
    line-height: 30px;
}

.option-box-2{   -webkit-flex: 1!important;
    flex: 1!important;
    -webkit-flex-direction:row!important;
    flex-direction: row!important;
     display: -webkit-flex!important;
    display: flex!important;
/*   display: -webkit-flex;
    display: flex;*/}





#leader-container {
    display: -webkit-flex;
    display: flex;
    /*width: 800px;*/
    height: auto;
 /*   background-color: #000000;*/              
    margin: 95px 15px 15px 15px;
    padding: 5px!important;
    -webkit-flex-direction:column!important;
    flex-direction: column;!important;
    background-color: #ffffff;
    flex-wrap: wrap;
    border-radius: 5px;}

   .leader-heading-box{
   /* -webkit-flex: 1!important;
    flex: 1!important;*/
    color:#000000;
    font-weight: bold;
    text-align: center!important;
    -webkit-align-items:center;
     font-weight: bold;
    font-size: 15px;
    flex-wrap: wrap;
}


    .rank{
    font-size: 13px;
    color:#000000;
    font-weight: bold;
    -webkit-align-items: center!important;
    vertical-align: middle!important;

}

    .points{
    font-size: 13px;
    color:#000000;
    font-weight: bold;
    -webkit-align-items: center!important;
    vertical-align: middle!important;
    /*margin-left:8px;*/


}



#profile-pic-small{border-radius: 70px!important;
}

.leader-name{font-size: 13px;
color:#000000;
font-weight: bold;
-webkit-align-items: center!important;
vertical-align: middle!important;
padding-top: 20px;}

.leader-name>a {
    color:#000000!important;
}

.leader-name>a:visited{
    text-decoration: none!important;
}

.leader-name>a:hover{
    color:#616161!important;
    text-decoration:none!important;}





/*.leader-button-box{*/

  /*  -webkit-flex: 1!important;
    flex: 1!important;*/
/*    display: -webkit-flex!important;
    display: flex!important;  
*/
  
    
/*}*/


#follow-button{ 

    background-color:#9E9E9E!important;
    text-transform: capitalize!important;
    font-size: 13px;
    color:#ffffff!important;
    text-align: center!important;
    box-shadow: none;
    width:auto!important;
    padding:5px!important;
    margin:5px;
 }

  #follow-button:hover{background-color:#757575!important;
  } 

 .seperator{
    background-color: #E0E0E0;
    height:1px!important;
    margin-top:5px!important;
    margin-bottom:5px!important;
}

td{
  text-align:center;
  vertical-align: middle;
  padding:5px;
  width:auto;
  
}

/*Others Box*/

#others-container {
    display: -webkit-flex;
    display: flex;
    /*width: 800px;*/
    height: auto;
 /*   background-color: #000000;*/              
    margin: 15px!important;
    padding: 5px!important;
    -webkit-flex-direction:column!important;
    flex-direction: column!important;
    background-color: #ffffff;
    flex-wrap: wrap;
    border-radius: 5px;}

   .others-heading-box{
   /* -webkit-flex: 1!important;
    flex: 1!important;*/
    color:#000000;
    text-align: center!important;
    -webkit-align-items:center;
   /*  font-weight: bold;*/
    font-size: 15px;
    flex-wrap: wrap;
}

.others-list{
    list-style: none!important;

}
.others-list>li>a {
    color:#616161!important;
}

.others-list>li>a:visited{
    text-decoration: none!important;
}

.others-list>li>a:hover{
    color:#000000!important;
    text-decoration:none!important;} 


.progress{height:25px!important;
    padding-bottom: 0px!important;
margin-bottom: 0px!important;}

.label-agree-disagree{-webkit-flex: 1!important;
    flex: 1!important;
display: -webkit-flex!important;
    display: flex!important;
 -webkit-flex-direction:row!important;
    flex-direction: row!important;
background-color:#ffffff!important;
color:#000000;

}

.agree-label{-webkit-flex: 1!important;
    flex: 1!important;
display: -webkit-flex!important;
    display: flex!important;
    text-align:center!important;
      -webkit-justify-content: center!important;

   
   
}

.disagree-label{-webkit-flex: 1!important;
    flex: 1!important;
display: -webkit-flex!important;
    display: flex!important;
   text-align:center!important;
     -webkit-justify-content: center!important;
   
}


.question-box-result{
    -webkit-flex: 1!important;
    flex: 1!important;
    color:#000000;
    font-weight: bold;
    text-align: center!important;
    align-items:center;
    justify-content: center;
    font-size: 25px;
    line-height: 30px;

    
}



#follow-bar-1{background-color: #b597aa!important;
/*height:10px!important;*/
-webkit-align-items: center!important;
-webkit-justify-content:center!important;
}

#follow-bar-2{background-color: #ffffff!important;
-webkit-align-items: center!important;
-webkit-justify-content:center!important;
}

.similarity-label{font-size: 18px!important;
    font-weight: bold;
}
.gq-1 {-webkit-flex: 1!important;
    flex: 1!important;
    font-size: 15px;
    font-weight: bold;
    padding-left:5px;
 
 
}
.gq-2 {-webkit-flex: 1!important;
    flex: 1!important;
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-align-items: center!important;
    -webkit-justify-content:center!important;

 
 
}


.gq-3 {-webkit-flex: 1!important;
    flex: 1!important;
    font-size: 5px;
}

.progress-bar{box-shadow:none!important;
}