.flex-container-fs {
    display: -webkit-flex;
    display: flex;
    height: 50px;
    -webkit-flex-direction:row!important;
    flex-direction: row!important;
    background-color: #ffffff;
    flex-wrap: wrap;
    border-radius: 0px;
    color:#000000;
    background-color: #ffffff!important;
    justify-content: center;
    box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);s
}


.full-story-fs{
    flex: 1!important;
    display: flex!important;
    flex-direction: row!important;
    text-align:center!important;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    color:#000000;
    border-right-style: groove;
    border-right-width: 1px;




  }


.opinions-fs{
     flex: 1!important;
    display: flex!important;
    flex-direction: row!important;
    text-align:center!important;
    justify-content: center;
    align-items: center;
     font-size: 15px;
    font-weight: bold;
     color:#000000;
    border-right-style: groove;
    border-right-width: 1px;


  }

  .debate-fs{
   flex: 1!important;
    display: flex!important;
    flex-direction: row!important;
    text-align:center!important;
    justify-content: center;
    align-items: center;
     font-size: 15px;
    font-weight: bold;
     color:#000000!important;
   }


.full-story-fs:hover{
border-bottom-width:3px!important;
background-color: #E0E0E0!important;

}

.opinions-fs:hover{
border-bottom-width:3px!important;
background-color: #E0E0E0!important;
}

.debate-fs:hover{
border-bottom-width:3px!important;
background-color: #E0E0E0!important;
}

.selected-tab {border-bottom-style:solid!important;
border-bottom-width:3px!important;
border-bottom-color: #6B2F55!important;
background-color: #E0E0E0!important;

}



/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
/*.cd-container {*/
   /*this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
/*  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}*/
/*.cd-container::after {
   clearfix
  content: '';
  display: table;
  clear: both;
}*/

/* --------------------------------

Main components

-------------------------------- */
/*header {
  height: 200px;
  line-height: 200px;
  text-align: center;
  background: #303e49;
}
header h1 {
  color: white;
  font-size: 18px;
  font-size: 1.125rem;
}
@media only screen and (min-width: 1170px) {
  header {
    height: 300px;
    line-height: 300px;
  }
  header h1 {
    font-size: 24px;
    font-size: 1.5rem;
  }
}
*/
/*Doubt*/
#cd-timeline-fs {
  position: relative;
  /*padding: 2em 0;*/
  margin-top: 10em;
  margin-bottom: 2em;
}

#cd-timeline-fs::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #BDBDBD;
}



@media only screen and (min-width: 1170px) {
  #cd-timeline-fs {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline-fs::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-fs-block {
  position: relative;
  margin: 2em 0;

}
.cd-timeline-fs-block:after {
  content: "";
  display: table;
  clear: both;
}

/*.cd-timeline-fs-block:nth-child(even){padding-left: 2em;}
.cd-timeline-fs-block:nth-child(odd){padding-right: 2em;}*/



.cd-timeline-fs-block:first-child {
  margin-top: 0;

}
.cd-timeline-fs-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-fs-block {
    margin: 4em 0;
  }
  .cd-timeline-fs-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-fs-block:last-child {
    margin-bottom: 0;
  }
}


.cd-timeline-fs-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  background-color: #6B2F55;
}


.time-icon-fs{
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
  color:#FAFAFA;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-fs-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left:-30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations-fs .cd-timeline-fs-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations-fs .cd-timeline-fs-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-fs-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
}
.cd-timeline-fs-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-fs-content h2 {
  color: #000000;
  font-weight: bold;
  font-size: 20px!important;
}

#read_button{background-color:#6B2F55!important;
  font-weight: bold;

}
#read_button:hover{background-color:#552544!important;
}

.cd-timeline-fs-content p, .cd-timeline-fs-content ,#read_button, .cd-timeline-fs-content .cd-date-fs {
  font-size: 15px!important;
}
.cd-timeline-fs-content,#read_button, .cd-timeline-fs-content .cd-date-fs {
  display: inline-block;
}
.cd-timeline-fs-content p {
  margin: 1em 0;
  line-height: 1.6;
}
/*.cd-timeline-fs-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}*/
/*.no-touch .cd-timeline-fs-content .cd-read-more:hover {
  background-color: #bac4cb;*/
}
.cd-timeline-fs-content .cd-date-fs {
  float: left;
  padding: .8em 0;
  opacity: .7;
}

.cd-date-fs{
  /*margin:15px!important;*/
  padding:0 30px 0 30px;
color:#616161;
font-style:italic;}


.cd-timeline-fs-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-fs-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-fs-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-fs-content .cd-read-more, .cd-timeline-fs-content .cd-date-fs {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-fs-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-fs-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-fs-content .cd-read-more {
    float: left;
  }
  .cd-timeline-fs-content .cd-date-fs {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-fs-block:nth-child(even) .cd-timeline-fs-content {
    float: right;
  }
  .cd-timeline-fs-block:nth-child(even) .cd-timeline-fs-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-fs-block:nth-child(even) .cd-timeline-fs-content .cd-read-more {
    float: right;
  }
  .cd-timeline-fs-block:nth-child(even) .cd-timeline-fs-content .cd-date-fs {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations-fs .cd-timeline-fs-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations-fs .cd-timeline-fs-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations-fs .cd-timeline-fs-block:nth-child(even) .cd-timeline-fs-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

